[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
astroid = "==2.14.2"
certifi = "==2024.7.4"
chardet = "==5.1.0"
idna = "==3.4"
isort = "==5.12.0"
lazy-object-proxy = "==1.9.0"
mccabe = "==0.7.0"
psycopg2 = "==2.9.5"
pylint = "==2.16.2"
python-dateutil = "==2.8.2"
PyYAML = "==6.0"
requests = "==2.28.2"
six = "==1.16.0"
toml = "==0.10.2"
urllib3 = "==1.26.14"
wrapt = "==1.14.1"
XlsxWriter = "==3.0.8"

[requires]
python_version = "3.9"
